*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 800px;
  height: 100%;
  position: relative;
  margin: 0;
  font-family: 'Raleway', 'sans-serif';
  display: flex;
  justify-content: center;
} 


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}


.main-container-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
} 


.main-container-video-title {
  max-width: 739px;
  font-size: 116px;
  font-weight: 800;
  line-height: 136.18px;
  text-transform: uppercase;
  letter-spacing: 4.06px;
  text-align: center;
  z-index: 1;
  margin-top: 60px;
}

.main-container-video-title-two {
  margin-right: 24px;
  letter-spacing: 4.06px;
} 

.main-container-video-title::before {
  content: "*";
  position: absolute;
  margin-top: 16%;
  margin-left: 32%;
  font-size: 88px;
}



.main-container-video-title:hover::before {
  position: absolute;
  right: 22px;
  bottom: 63%;
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  border: 2px solid #000;
  border-bottom: 16px;
  border-radius: 20px;
  white-space: pre;
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0;
  text-align: start;
  text-transform: lowercase;
  z-index: 2;
  padding: 36px 44px;
  background-color: #fff;
}

.main-container-video-title:hover::after {
    color: #4C4C4C;
} 


